*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#mainControls {
    width: 300px;
    min-height: 100vh;
    border-right: 1px solid grey;
    background: #e5e5e53e;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
}

#mainControls>h1{
    margin: 0 auto 80px auto;
    font-size: 30px;
}
body{
    display: flex;
}

#mainControls>button{
    padding: 10px 15px;
    font-size: 15px;
    text-align: left;
    border: none;
    cursor: pointer;
}

#mainControls>button:hover{
    background: #d2d0d0;
}

#board{
    padding: 50px;
    width: 100%;
    min-height: 100vh;
}

.listCard{
    min-width: 250px;
    max-width: 400px;
    width: max-content;
    min-height: 300px;
    border: 1px solid #e5e5e5;
    padding: 20px;
}
.listCard #title{
    margin-bottom: 20px;
    display: flex;
    width: 100%;
}

.listCard button{
    padding: 8px 12px;
    font-size: 15px;
    text-align: left;
    border: none;
    cursor: pointer;
}

.listCard button:hover{
    background: #d2d0d0;
}

.listContent{
    width: 100%;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row{
    display: flex;
    gap: 5px;
}

.listContent input[type="text"]{
    font-size: 16px;
    border: none;
    width: 150px;
}


